.m-card-width {
    width: 16.5rem;
    max-width: 47%;
}

.m-card-hover:hover {
    cursor: pointer;
    transform: scale(1.05);
    z-index: 1;
    transition: transform .4s ease-in-out;
    border-color: red;
}